html {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.dot {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin: 0 1rem;
    background-color: grey;
    border-radius: 50%;
}
